# RustFS
RUSTFS_ENDPOINT=
RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
RUSTFS_BUCKET=

# CMS API
CMS_API_BASE_URL=
CMS_INPATIENT_DATASET_ID=
CMS_PHYSICIAN_DATASET_ID=

NPI_CSV_PATH=
DUCKDB_PATH=

# DuckDB table names — inpatient
INPATIENT_FINAL_TABLE=
INPATIENT_STAGE_TABLE=

# DuckDB table names — physician
PHYSICIAN_FINAL_TABLE=
PHYSICIAN_STAGE_TABLE=

# DuckDB table names — NPI
NPI_FINAL_TABLE=
NPI_STAGE_TABLE=